@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .btn-primary {
    @apply py-2 px-4 text-xs bg-rs-blue text-white font-semibold rounded-lg shadow-md hover:bg-rs-darkBlue focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }

  .cartIcon {
    @apply h-9 w-9 text-rs-blue hover:text-rs-darkBlue ;
  }
  
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background:#f8fafb;
  }
}
