@tailwind base;
@tailwind components;
@tailwind utilities;

 
@layer components {
  .btn-primary {
    @apply py-2 px-4 text-xs bg-rs-blue text-white font-semibold rounded-lg shadow-md hover:bg-rs-darkBlue focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }

  .cartIcon {
    @apply h-9 w-9 text-rs-blue hover:text-rs-darkBlue ;
  }

  .starIcon {
    @apply h-6 w-6 text-rs-blue hover:text-rs-darkBlue;
  }

  .product-container {
    @apply max-w-sm rounded border shadow-md bg-white border-rs-blue p-3 
    hover:shadow-lg hover:bg-rs-bg hover:border-rs-darkBlue transition duration-200
    w-full h-full  text-center
   
  }

  .item{
    @apply w-full sm:w-1/2 md:w-1/2 lg:w-1/3 xl:w-1/4 px-2 mb-4
  }

  .section{
    @apply xl:container xl:mx-auto mr-2 ml-2 mt-8 mb-8;
  }
  
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background:#f8fafb;
  }
}
